<div class="ui segment">
  <% #if @over_ten %>
    <% #=link_to '以前のメッセージ', '?m=all' %>
  <% #end %>
  <% @messages.each do |message| %>
    <% if message.content %>
      <% user = User.find(message.user_id) %>
      <div class="item">
        <div class="content <%= "self-message" if user == current_user %>">
          <div class="header">
              <div class="message-header">
              <strong><%= user.name %></strong> <%= message.message_time %>
            </div>
          </div>
          <div class="list">
            <div class="item">
              <p>
                <%= message.content %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>