// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li.user-show{
  margin-bottom: 10px;
}
.wrapper{
  padding-top: 60px;
  background-color: #e9ebee;
  .row {
    .col-gray {

    }
    .col-white {
      background-color: #fff;
      padding: 5px;
      margin-bottom: 20px;
    }
  }
  .user-info {
    padding-left: 0px;
    .row-fluid {
      margin-bottom: 10px;
    }
  }
}
.top-wrapper{
  #topics_area{
    p {
      text-align: left;
    }
    .topic {
      margin-bottom: 10px;
    }
    .topic_header{
      border-bottom: 1px dashed black;
      margin: 0px;
      p {
        text-align: left;
        line-height: 26px;
        margin-bottom: 0px;
      }
    }
    .comment_header {
      p {
        text-align: left;
        line-height: 26px;
        margin-bottom: 0px;
      }
    }
    .comment_form {
      .field {
        float: left;
      }
      div.actions:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
  .conversation-area{
    display: none;
    position: fixed;
    width: 31.6%;
    bottom: 0px;
    height: 88.5%;

    .conversation {
      position: fixed;
      width: 30.5%;
      bottom: 125px;
      .row {
        margin: 0px;
        border-bottom: 1px dashed gray;
        .back {
          cursor: pointer;
        }
      }
    }
    form{
      position: fixed;
      width: 30.5%;
      bottom: 20px;
    }


    .conversation .conversation-messages{
      max-height: 450px;
      overflow: auto;
    }
    .conversation-messages .item {
      .content {
        .message-header {
          text-align: left;
        }
        .list .item p {
          text-align: left;
        }
      }
      .content.self-message {
        .message-header {
          text-align: right;
        }
        .list .item p {
          text-align: right;
        }
      }
    }
  }
}