// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
  padding-top: 60px;
  background-color: #e9ebee;
  .row {
    .col-gray {

    }
    .col-white {
      background-color: #fff;
      padding: 5px;
      margin-bottom: 20px;
    }
  }
}
.top-wrapper{
  .conversation-area{
    display: none;
    position: fixed;
    width: 31.6%;
    bottom: 0px;
    height: 88.5%;

    .conversation {
      position: fixed;
      width: 30.5%;
      bottom: 120px;
    }
    form{
      position: fixed;
      width: 30.5%;
      bottom: 20px;
    }


    .conversation .conversation-messages{
      max-height: 450px;
      overflow: auto;
    }
  }
}