// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
  padding-top: 60px;
  background-color: #e9ebee;
  .row {
    .col-gray {

    }
    .col-white {
      background-color: #fff;
      padding: 5px;
    }
  }
} 